services:
  - type: web
    name: bom-configurator
    env: python
    buildCommand: pip install -r requirements.txt && chmod +x start.sh
    startCommand: ./start.sh
    releaseCommand: |
      python manage.py migrate --settings=bom_configurator.settings_production || true
      python manage.py migrate_and_seed --settings=bom_configurator.settings_production || true
      python manage.py collectstatic --noinput --settings=bom_configurator.settings_production || true
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: bom_configurator.settings_production
      - key: DEBUG
        value: False
      - key: SECRET_KEY
        generateValue: true
    healthCheckPath: /

databases:
  - name: bom-configurator-db
    databaseName: bom_configurator
    user: bom_configurator_user
    plan: free

