services:
  - type: web
    name: bom-configurator
    env: python
    buildCommand: pip install -r requirements.txt && python manage.py collectstatic --noinput --settings=bom_configurator.settings_production
    startCommand: gunicorn --env DJANGO_SETTINGS_MODULE=bom_configurator.settings_production bom_configurator.wsgi:application
    releaseCommand: python manage.py migrate_and_seed --settings=bom_configurator.settings_production
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: bom_configurator.settings_production
      - key: DEBUG
        value: False
      - key: SECRET_KEY
        generateValue: true
    healthCheckPath: /

databases:
  - name: bom-configurator-db
    databaseName: bom_configurator
    user: bom_configurator_user
    plan: free

